html {
	background: url(../images/background.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	text-align: center;
	}
	
#content {
	position: relative;
	width: 960px;
	margin: 0 auto;
	text-align: left;
	}
	
#logo {
	position: relative;
	float: left;
	background-color: #EFDBB7;
	text-align: center;
	width: 514px;
	height: 86px;
	border: 1px solid #2d2d2d;
	background: url(../images/logo.png) no-repeat center center #EFDBB7;	
	-moz-box-shadow:    1px 1px #2d2d2d, 2px 2px #2d2d2d, 3px 3px #2d2d2d, 4px 4px #2d2d2d;
  	-webkit-box-shadow: 1px 1px #2d2d2d, 2px 2px #2d2d2d, 3px 3px #2d2d2d, 4px 4px #2d2d2d;
	box-shadow:         1px 1px #2d2d2d, 2px 2px #2d2d2d, 3px 3px #2d2d2d, 4px 4px #2d2d2d;
	}
	
#contact {
	text-align: center;
	padding: 12px 65px 11px 65px;
	background: #EFDBB7;
	position: absolute;
	float: left;
	margin-left: 550px;
	border: 1px solid #2d2d2d;
	-moz-box-shadow:    1px 1px #2d2d2d, 2px 2px #2d2d2d, 3px 3px #2d2d2d, 4px 4px #2d2d2d;
  	-webkit-box-shadow: 1px 1px #2d2d2d, 2px 2px #2d2d2d, 3px 3px #2d2d2d, 4px 4px #2d2d2d;
	box-shadow:         1px 1px #2d2d2d, 2px 2px #2d2d2d, 3px 3px #2d2d2d, 4px 4px #2d2d2d;
	}
	
#intro {
	position: absolute;
	padding: 10px 10px 5px 10px;;
	top: 110px;
	width: 495px;
	height: 105px;
	font: 12px/16px helvetica, sans-serif;
	background: white;
	float: left;
	color: black;
	background: #EFDBB7;
	border: 1px solid #2d2d2d;
	-moz-box-shadow:    1px 1px #2d2d2d, 2px 2px #2d2d2d, 3px 3px #2d2d2d, 4px 4px #2d2d2d;
  	-webkit-box-shadow: 1px 1px #2d2d2d, 2px 2px #2d2d2d, 3px 3px #2d2d2d, 4px 4px #2d2d2d;
	box-shadow:         1px 1px #2d2d2d, 2px 2px #2d2d2d, 3px 3px #2d2d2d, 4px 4px #2d2d2d;	}
	
#menu_button {
	position: absolute;
	top: 270px;
	float: left;
	padding: 10px;
	background: #EFDBB7;
	font-family: 16px Georgia, serif;
	border: 1px solid #000;
	-moz-box-shadow:    1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000;
  	-webkit-box-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000;
	box-shadow:         1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000;
  	}
  	
#appetizers_button {
	position: relative;
	top: 320px;
	left: -516px;
	float: left;
	padding: 10px;
	background: #EFDBB7;
	border: 1px solid #000;
	-moz-box-shadow:    1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000;
  	-webkit-box-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000;
	box-shadow:         1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000;
  	}
  	
#salads_button {
	position: relative;
	top: 370px;
	left: -604px;
	float: left;
	padding: 10px;
	background: #EFDBB7;
	border: 1px solid #000;
	-moz-box-shadow:    1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000;
  	-webkit-box-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000;
	box-shadow:         1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000;
  	}
  	
#sandwiches_button {
	position: relative;
	top: 420px;
	left: -664px;
	float: left;
	padding: 10px;
	background: #EFDBB7;
	border: 1px solid #000;
	-moz-box-shadow:    1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000;
  	-webkit-box-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000;
	box-shadow:         1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000;
  	}
  	
#burgers_button {
	position: relative;
	top: 470px;
	left: -760px;
	float: left;
	padding: 10px;
	background: #EFDBB7;
	border: 1px solid #000;
	-moz-box-shadow:    1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000;
  	-webkit-box-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000;
	box-shadow:         1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000;
  	}
  	
#sides_button {
	position: relative;
	top: 520px;
	left: -830px;
	float: left;
	padding: 10px;
	background: #EFDBB7;
	border: 1px solid #000;
	-moz-box-shadow:    1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000;
  	-webkit-box-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000;
	box-shadow:         1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000;
  	}
  	
#pizzas_button {
	position: relative;
	top: 570px;
	left: -883px;
	float: left;
	padding: 10px;
	background: #EFDBB7;
	border: 1px solid #000;
	-moz-box-shadow:    1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000;
  	-webkit-box-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000;
	box-shadow:         1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000;
	}
  	
#menu {
	position: absolute;
	top: 270px;
	left: 115px;
	padding: 10px;
	width: 380px;
	background: #fff;
	font: 12px/16px helvetica, sans-serif;
	border: 1px solid #EFDBB7;
	-moz-box-shadow:    1px 1px #EFDBB7, 2px 2px #EFDBB7, 3px 3px #EFDBB7, 4px 4px #EFDBB7;
  	-webkit-box-shadow: 1px 1px #EFDBB7, 2px 2px #EFDBB7, 3px 3px #EFDBB7, 4px 4px #EFDBB7;
	box-shadow:         1px 1px #EFDBB7, 2px 2px #EFDBB7, 3px 3px #EFDBB7, 4px 4px #EFDBB7;
	}
	
#drinks_button {
	margin-left: 550px;
	margin-top: 110px;
	position: absolute;
	float: left;
	padding: 10px;
	color: white;
	background: #2d2d2d;
	border: 1px solid #EFDBB7;
	-moz-box-shadow:    1px 1px #EFDBB7, 2px 2px #EFDBB7, 3px 3px #EFDBB7, 4px 4px #EFDBB7;
  	-webkit-box-shadow: 1px 1px #EFDBB7, 2px 2px #EFDBB7, 3px 3px #EFDBB7, 4px 4px #EFDBB7;
	box-shadow:         1px 1px #EFDBB7, 2px 2px #EFDBB7, 3px 3px #EFDBB7, 4px 4px #EFDBB7;
	}
	
#drinks {
	position: absolute;
	margin-top: 110px;
	margin-left: 625px;
	float: left;
	padding: 10px;
	background: #fff;
	font: 12px/16px helvetica, sans-serif;
	border: 1px solid #EFDBB7;
	-moz-box-shadow:    1px 1px #EFDBB7, 2px 2px #EFDBB7, 3px 3px #EFDBB7, 4px 4px #EFDBB7;
  	-webkit-box-shadow: 1px 1px #EFDBB7, 2px 2px #EFDBB7, 3px 3px #EFDBB7, 4px 4px #EFDBB7;
	box-shadow:         1px 1px #EFDBB7, 2px 2px #EFDBB7, 3px 3px #EFDBB7, 4px 4px #EFDBB7;
	}

#music_button {
	position: relative;
	margin-top: 380px;
	margin-left: 550px;
	padding: 10px;
	float: left;
	color: white;
	background: #2d2d2d;
	border: 1px solid #EFDBB7;
	-moz-box-shadow:    1px 1px #EFDBB7, 2px 2px #EFDBB7, 3px 3px #EFDBB7, 4px 4px #EFDBB7;
  	-webkit-box-shadow: 1px 1px #EFDBB7, 2px 2px #EFDBB7, 3px 3px #EFDBB7, 4px 4px #EFDBB7;
	box-shadow:         1px 1px #EFDBB7, 2px 2px #EFDBB7, 3px 3px #EFDBB7, 4px 4px #EFDBB7;
		}
	
#music {
	position: absolute;
	margin-top: 468px;
	margin-left: 625px;
	float: right;
	padding: 10px;
	background: #fff;
	font: 12px/16px helvetica, sans-serif;
	border: 1px solid #EFDBB7;
	-moz-box-shadow:    1px 1px #EFDBB7, 2px 2px #EFDBB7, 3px 3px #EFDBB7, 4px 4px #EFDBB7;
  	-webkit-box-shadow: 1px 1px #EFDBB7, 2px 2px #EFDBB7, 3px 3px #EFDBB7, 4px 4px #EFDBB7;
	box-shadow:         1px 1px #EFDBB7, 2px 2px #EFDBB7, 3px 3px #EFDBB7, 4px 4px #EFDBB7;}
	
	
	
#menu_nav .here {
	background: #2D2D2D;
	border: 1px solid #EFDBB7;
	color: #fff;
	-moz-box-shadow:    1px 1px #EFDBB7, 2px 2px #EFDBB7, 3px 3px #EFDBB7, 4px 4px #EFDBB7;
  	-webkit-box-shadow: 1px 1px #EFDBB7, 2px 2px #EFDBB7, 3px 3px #EFDBB7, 4px 4px #EFDBB7;
	box-shadow:         1px 1px #EFDBB7, 2px 2px #EFDBB7, 3px 3px #EFDBB7, 4px 4px #EFDBB7;

}

#line {
	opacity: 0; 
	position: absolute;
	width: 100%;
	top: 950px;
}

a {
	text-decoration: none;
	color: #000;
	}
	
a:#menu_nav .here {
	text-decoration: none;
	color: #fff;
}
	
ul {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin: 0;
	padding: 0;
	list-style: none;
	}
	
ul li {
	padding: 0;
	margin: 0;
	}
	
p {	
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin: 0;
	}

h2 {	
	font-family: 'Gentium Basic', serif;
	font-weight: 400;
	font-size: 18px;
	padding: 0;
	margin: 0;
	}

h3 {	
	font-family: 'Gentium Basic', serif;
	font-weight: 400;
	font-size: 16px;
	padding: 0;
	margin: 0;
	}