* { display: block !important!;
	float: none !important!;
	position: static !important!;
	width: 100% !important!;
	padding-left: 0 !important!;
	padding-right: 0 !important!;
	margin-left: 0 !important!;
	margin-right: 0 !important!;
 }
 
body {
	background-image:url('../images/background.jpg');
	background-repeat:repeat;
	color:#fff;
	list-style: none;
} 

#container img { max-width: 100%; height: auto; }
 
/* Structure */

#container {}
	
#header {
	padding-bottom: 20px;
	position: relative;
	overflow: hidden;
}

#midsection {
	border-top: solid 2px #a2575e;
	padding-top: 20px;
	position: relative;
}

#menu {
	padding-top: 15px;
	position: relative;
	height: 340px;
}

#food,
#drinks {
	position: relative;
	float: left;
	width: 100%;
}

#footer {
	border-top: solid 2px #a2575e;
	padding-top: 15px;
	position: relative;
	float: left;
	width: 100%;
}

/* Header */

#logo {
	background: url('../images/logo.png') left top no-repeat;
	width: 220;
	height: 63px;
	text-indent: -9999px;
	position: relative;
	margin: 80px 0 0 0;
}

/* Menu */

h1.menu {
	font-family: 'Gentium Book Basic', serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 18px;
	letter-spacing: .05em;
	color: #fff;
	display: block;
	border-bottom: solid 2px #a2575e;
	width:100%;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

ul.left_column {
	font-family: 'Gentium Book Basic', serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	text-decoration: none;
	list-style: none;
	position: relative;
	float: left;
	padding: 0px;
}

ul.right_column {
	text-align: right;
	position: relative;
	float: right;
	padding-right: 0px;
	font-family: 'Gentium Book Basic', serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #b8febe;
	text-decoration: none;
	list-style: none;
}

#food_select,
#drinks_select {
	position: absolute;
	top: 0;
	right: 20px;
}

/* Other */

#review {
	width: 100%;
	position: relative;
	float: left;
	font-family: 'Vollkorn', serif;
	font-weight: 400italic;
	font-size: 12px;
	font-style: italic;
	line-height: 18px;
	color: #b8febe;
	letter-spacing: .02em;
}

ul.extra_content {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 10px;
	line-height: 14px;
	text-decoration: none;
	list-style: none;
	color: #b8febe;
	position: relative;
	float: right;
	margin: 0px;
}

/* Navigation */

#navigation {
	position: relative;
	float: left;
	margin: 20px 0 0 0;
}

#navigation li {
	margin: 0 0 0 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	list-style: none;
	letter-spacing: .05em;
}

#footer_navigation {
	position: absolute;
	width: 100%;
	float: left;
	padding: 0px;
}

#footer_navigation li {
	margin: 0 0 0 0;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 10px;
	line-height: 18px;
	list-style: none;
	letter-spacing: .05em;
}

#navigation li:first-child {
	margin: 0;
}


#footer_navigation li:first-child {
	margin: 0;
}

#navigation a:link,
#navigation a:visited,
#navigation a:active,
#footer_navigation a:link,
#footer_navigation a:visited,
#footer_navigation a:active {
	text-decoration: none;
	color: #ff5e5e;
}

#navigation a:hover,
#navigation a:focus,
#footer_navigation a:hover,
#footer_navigation a:focus {
	color: #b8febe;
}

/* Hide */

#midsection {
	display: none;	
}

.mobile-nav { display: block; }

.desktop-nav { display: none; }
