*{
	float:none !important;
	position: static !important;
	width: auto !important;
	}

img{
	width: 100% !important;
	}
	
img.logo{
	width:80px !important;
	height:auto !important
	}
	
img.title{
	width: 200px !important;
	top: 0px !important;
	left: 0px !important;
	padding: 0px !important;
	margin: 0px !important;
	}
	
#main{
	background-color: none !important;
	top: 0px !important;
	left: 0px !important;
	padding: 0px !important;
	margin: 0px !important;
	}

#header{
	height: 100px !important;
	top: 0px !important;
	left: 0px !important;
	padding: 0px !important;
	margin: 0px !important;
	}
	
#nav{
	top: 0px !important;
	left: 0px !important;
	padding: 0px !important;
	margin: 0px !important;
	text-align: center;
	height:30px;
	}
	
#sidebar{
	top:auto !important;
	}
	
#container{
	top: 0px !important;
	left: 0px !important;
	padding: 0px !important;
	margin: 0px !important;	}